{% extends '@layout/default.html.twig' %}

{% block title %}XtreamLabs{% endblock %}

{% block stylesheets %}
    <style>
        .x-logo {
            color: #ff4f00;
            fill: #ff4f00;
            height: 50vh;
            width: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="app-content d-flex flex-column align-items-center justify-content-center h-100">
        <svg class="x-logo" viewBox="0 0 1024 400" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g transform="matrix(1,0,0,1,-560.444,-292.336)">
                <path d="M813.192,626.954l-234.98,-102.176l0,-56.582l234.98,-101.707l0,66.636l-163.902,62.661l163.902,64.999l0,66.169Z" style="fill-rule:nonzero;"></path>
                <path d="M864.934,670.656l101.563,-176.562l-101.563,-180.078l86.328,0l123.438,180.078l-123.438,176.562l-86.328,0Z" style="fill-rule:nonzero;"></path>
                <path d="M1281.91,314.016l-101.562,176.171l101.562,180.469l-86.328,0l-123.438,-180.468l123.438,-176.172l86.328,0Z" style="fill-rule:nonzero;"></path>
                <path d="M1331.46,627.187l0,-66.168l164.135,-64.532l-164.135,-63.83l0,-65.701l235.213,101.708l0,56.114l-235.213,102.409Z" style="fill-rule:nonzero;"></path>
            </g>
        </svg>
    </main>
{% endblock %}
