{% extends '@layout/default.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
    <main class="app-content d-flex flex-column align-items-center justify-content-center h-100">
        <div class="h-100">
            <h1>Uh oh! Not Found!</h1>
            <h2 class="text-muted">(Error: 404)</h2>
            <hr class="my-4" />
            <p class="my-4">
                You are looking for something that doesn't exist, may have moved or you don't have access to.<br />
                Check the URL or navigate to one the of the following pages:
            </p>
            <ul class="nav flex-column font-weight-bold h2">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">
                        &raquo; Main page
                    </a>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
