<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

use Phly\Swoole\TaskWorker\DeferredListenerDelegator;

return [
    // @codingStandardsIgnoreStart
    'dependencies' => [
        'delegator_factories' => [
            \App\GitHub\Handler\GitHubIssueHandler::class       => [DeferredListenerDelegator::class],
            \App\GitHub\Handler\GitHubPullRequestHandler::class => [DeferredListenerDelegator::class],
            \App\GitHub\Handler\GitHubPushHandler::class        => [DeferredListenerDelegator::class],
            \App\GitHub\Handler\GitHubStatusHandler::class      => [DeferredListenerDelegator::class],
            \App\Slack\Message\DeployMessageHandler::class      => [DeferredListenerDelegator::class],
        ],
    ],
    // @codingStandardsIgnoreEnd

    'slack' => [
        'token'              => 'xoxp-',
        'default_channel'    => '#dev',
        'verification_token' => '',
        'team_id'            => 'T0MCU03QC',
    ],

    'github' => [
        'webhook_secret' => '',
    ],

    /*
        'monolog' => [
            'slack' => [
                'token'   => '',
                'channel' => '#server-log',
                'name'    => 'xtreamlabs.com',
            ],
        ],
    */
];
